* {
    box-sizing: border-box;
  }

  html{
    height: 1000px;
  }

  .column {
    float: left;
    width: 20%;
    height: 20%;
    padding: 1px;
  }

  /* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
  
  /* This code is for styles of body fonts etc */
  
  body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    color: #777777;
    background-image: url("../images/bgimage.png");
    background-repeat: repeat;
    background-position-x: center;
    margin: 0px 0px 0px 0px;
    background-attachment: fixed;
  }

    p {
        color: #666;
        font-size: 18px;
        text-align: left;
        margin: 20px 20px 20px 20px;
        line-height: 48px;
        
    }

    img {
      position: relative;
      float: left;
      padding: 2%;
    }



    h6 {
        color: #fff;
        font-size: 10px;
        font-family: serif;
        text-align: center;

    }

    h3 {
        color: #333;
        font-size: 16px;
        text-align: left;

    }

    h1 {
        font-family: sans-serif;
        margin-bottom: 20px;
        font-size: 36px;
        text-align: left;
        line-height: 45px;
        color: #4aaaa5;
    
      }

      h4 {
        font-family: serif;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 30px;
        text-align: left;
        line-height: 45px;
        color: #4aaaa5;

  
      }
    
  /* This code is for center page */



  #title {
    position: absolute;
    top: 0;
    left: 120px;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #fff;
  }
   
 
/* this code is for footer */

  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color:#333;
    color: white;
    text-align: center;
 }
  
 .header {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 71px;
  
  background-color:#fff;
  
 }

/* this is code for contact sheet */
  input[type=text], select, textarea { 
    width: 100%;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2b6966;
  }
  
  .container {
    /* border-radius: 5px; */
    background-color: #fff;
    padding: 20px;
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    }

  .text-block {
    position: absolute;
    /* bottom: 20%;
    right: 20%; */
    font-size: 10px;
    background-color: #4aaaa5;
    color: white;
   text-align: center; 
    /* padding-left: 20%;
    padding-right: 20%; */
  }
 


/* This code is for navigation */

  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
    
  }
  
  li {
    float: right;
    border-right:1px solid #bbb;
    border-left:1px solid #bbb;
    width: 140px;
    height: 71px;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 20px 20px 20px 20px; 
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(223, 223, 223);
  }
  
  .active {
    background-color: #4aaaa5;
  }


  /* Code for Media Query */

  @media screen and (max-width: 980px) {
    body {
      width: 980px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
    }


    .container {
      position: relative;
      width: 900px;
      left: 5px;
      right: 5px;
    }


    #title {
      position: absolute;
      top: 0;
      left: 0px;
      font-size: 16px;
      padding: 10px;
    }
    
    #footer {
      position: sticky;
      bottom: 0%;
      left: 0%;
      right: 0%;
      width: 980px;
      height: 8%;
   }
    
   .header {
    position: static;
    left: 0;
    top: 0;
    width: 980px;
    height: 53px;
    font-size: 22px;
   }

  li {
    position: static;
    right: 980px;
    width: 80px;
    height: 53px;
    font-size: 12px;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }
  h4 {
    font-size: 22px;
  }

  h1 {
    font-size: 18px;
  }  

  @media screen and (max-width: 640px) {
  
    body {
      width: 620px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
    }


    .container {
      position: relative;
      width: 550px;
      left: 5px;
      right: 5px;
    }


    #title {
      position: absolute;
      top: 0;
      left: 0px;
      font-size: 12px;
      padding: 10px;
    }
    
    #footer {
      position: sticky;
      bottom: 0%;
      left: 0%;
      right: 0%;
      width: 640px;
      height: 8%;
   }
    
   .header {
    position: static;
    left: 0;
    top: 0;
    width: 640px;
    height: 53px;
    font-size: 18px;
   }

  li {
    position: static;
    right: 640px;
    width: 75px;
    height: 53px;
    font-size: 10px;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }
  h4 {
    font-size: 22px;
  }

  h1 {
    font-size: 18px;
  }


  @media screen and (max-width: 320px) {
    body {
      width: 300px;
    }

    p {
      font-size: 12px;
      line-height: 16px;
    }


    .container {
      position: relative;
      width: 250px;
      left: 5px;
      right: 5px;
    }


    #title {
      position: absolute;
      top: 0;
      left: 0px;
      font-size: 8px;
      padding: 10px;
    }
    
    #footer {
      position: sticky;
      bottom: 0%;
      left: 0%;
      right: 0%;
      width: 320px;
      height: 8%;
   }
    
   .header {
    position: static;
    left: 0;
    top: 0;
    width: 320px;
    height: 53px;
    font-size: 18px;
   }

  li {
    position: static;
    right: 320px;
    width: 60px;
    height: 53px;
    font-size: 8px;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }
  h4 {
    font-size: 18px;
  }

  h1 {
    font-size: 14px;
  }
  }